body{
  margin: 0;
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
  font-size: 250px;
}
.App:focus-visible {
  outline: none;
}

.score{
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
.score-row{
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}
.score-name{
  width: 80px;
  text-align: start;
}
.score-value{
  margin-right: 10px;
  width: 70px;
}
.score-input{
  width: 70px;
  font-size: 20px;
}
.score-result{
  margin-left: 20px;
}
.score-calculate{
  width: 80px;
  height: 30px;
}